:root {
    --whete-letters: #FFFFFF;
    --fon: #2F303A;
    --fonbut: #2196F3;
    --title-text-color: #212121;
    --fonbutton: #F5F4FA;
    --main-text-color: #757575;
    --indent: 30px;
    --items: 3;
    --backdrop-index: 1000
}